.top-nav{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    height: 50px;
    border: 2px solid lightgray;
}

.logo{
    font-weight: bold;
    font-size: 25px;
    margin-left: 50px;
}

.signup-group{
    display: flex;
    border: 2px solid lightgray;
    height: 45px;

}

.signin-button {
    background-color: blue;
    color: white;
    height: 30px;
    margin: 8px;
}
.subscribe {
    font-weight: bold;
    margin: 8px;
}
.bottom-nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin: 0;

    /* align-items: flex-end; */
}

.nav-elements {
    display: flex;
    margin-left: 50px;
}

.text {
    color: white;
    margin: 10px;
    padding: 10px;
}

.platform {
    background-color: white;
    color: black;
    height: 30px;
    margin: 8px; 
}
