img {
    width: 60px;
    border-radius: 30px;
    float: left;
    margin-right: 10px;
  }
  .username {
    font-weight: bold;
  }
  #second{
    color: blue;
    font-weight: bold;
  }

  greetings p{
    color: pink;
  }